
<div class="title">Anuncie sua propriedade</div>
<div class="description">Compartilhe sua casa e conheça pessoas novas!</div>

<div class="card wp-md-100 wp-75 mt-5">
    <div class="card-title">Detalhes da propriedade</div>

    <form class="card-body mt-2 d-flex flex-column house-form" method="POST" enctype="multipart/form-data">
        <label for="photo" class="label mt-4 text-black-40">Imagem de destaque</label>
        <div class="d-none photo">
            <img
                src="https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                class="img-rounded mt-4"
                width="300"
                alt="Avatar de Lucas Paz"
            >
        </div>
        <input type="file" name="file" id="photo" class="form-control mt-4" required>

        <label for="album" class="label mt-4 text-black-40">Álbum</label>
        <div class="d-flex mt-4 album scrollable d-none album">
            <img
                src="https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                class="img-rounded"
                width="300"
                alt="Imagem 1"
            >
            <img
                src="https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                class="img-rounded ml-2"
                width="300"
                alt="Imagem 2"
            >
        </div>
        <input type="file" name="file" id="album" multiple class="form-control mt-4" required>

        <label class="label mt-4 text-black-40" for="title">Título</label>
        <input type="text" id="title" class="form-control mt-3" required>

        <label class="label mt-4 text-black-40" for="address">Endereço</label>
        <input type="text" id="address" class="form-control mt-3" required>

        <div class="d-flex justify-content-between">
            <div class="flex-grow-1">
                <label class="label mt-4 text-black-40" for="price">Valor do aluguel</label>
                <input type="number" id="price" class="form-control mt-4" min="0" required>
            </div>

            <div class="flex-grow-1 ml-4">
                <label class="label mt-4 text-black-40" for="contact">Contato</label>
                <input type="text" id="contact" class="form-control mt-4" required> 
            </div>
        </div>

        <label class="label mt-4 text-black-40" for="details">Detalhes</label>
        <textarea type="text" id="details" class="form-control mt-4" placeholder="Fale sobre a localização e detalhes importantes sobre o imóvel..." required></textarea>

        <div class="d-flex justify-content-between">
            <div class="flex-grow-1">
                <label class="label mt-4 text-black-40" for="baths">Quartos</label>
                <input type="number" id="beds" class="form-control mt-4" min="0" required> 
            </div>

            <div class="flex-grow-1 ml-4">
                <label class="label mt-4 text-black-40" for="beds">Banheiros</label>
                <input type="number" id="baths" class="form-control mt-4" min="0" required> 
            </div>
        </div>

        <label class="label mt-4 text-black-40" for="type">Tipo de propriedade</label>
        <select id="type" class="form-control mt-4" required>
            <option selected disabled>Selecione um tipo de propriedade</option>
            <option value="house">Casa</option>
            <option value="apartment">Apartamento</option>
            <option value="studio">Studio</option>
            <option value="room">Quarto</option>
        </select>

        <label class="label mt-4 text-black-40" for="amenities">Extras</label>
        <select id="amenities" class="form-control mt-4" multiple required>
            <option value="balcony">Varanda</option>
            <option value="pool">Piscina</option>
            <option value="animals">Animais</option>
            <option value="child">Crianças</option>
            <option value="air_conditioning">Ar condicionado</option>
        </select>

        <div class="d-flex">
            <button type="submit" class="mt-4 btn btn-primary">Anunciar</button>
            <button type="reset" class="btn ml-2 mt-4" onClick="postReset()">Limpar formulário</button>
        </div>
    </form>
</div>