:root {
    --white-200: #eff2f7;
    --white-500: #e2e8f0;
    --white-600: #d6dce4;
    --black-500: #1b1f2b;
    --grey-300: #4a5568;
    --grey-500: #2d3748;
    --grey-900: #1a202c;
    --primary: #667eea;
    --purple: #667eea;
}
.text-justify {
    text-align: justify;
}
.badge {
    background-color: var(--white-500);
    padding: 3px 12px;
    border-radius: 25px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.scrollable {
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
}
.scrollable img {
    -webkit-user-drag: none;
    user-select: none;
}
.scrollable::-webkit-scrollbar {
    background-color: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: var(--white-600);
}
.scrollable::-webkit-scrollbar-track {
    border-radius: 9px;
    background-color: var(--white-200);
}

/** * Utils */
.h-full {
    height: 100%;
}
.d-flex {
    display: flex;
}
.d-inline-block {
    display: inline-block;
}
.justify-content-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.mr-2 {
    margin-right: 0.5rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.ml-4 {
    margin-left: 1rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-4 {
    margin-top: 1rem;
}
.mt-5 {
    margin-top: 1rem;
}
.mb-2 {
    margin-bottom: 1.25rem;
}
.mb-3 {
    margin-bottom: 0.875rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.mt-24 {
    margin-top: 6rem;
}
.max-w-sm {
    width: 24rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pt-3 {
    margin-top: 0.875rem;
}
.flex-column {
    flex-direction: column;
}

.text-white {
    color: #fff;
}
.semibold {
    font-weight: 500;
}
.no-underline {
    text-decoration: none;
}
.text-black-25 {
    color: #666;
}
.text-black-40 {
    color: #444;
}

.text-uppercase {
    text-transform: uppercase;
}

.label {
    font-weight: 500;
    font-size: 14px;
    display: block;
}

.wp-50 {
    width: 50%;
}
.wp-75 {
    width: 75%;
}

.flex-1 {
    flex: 1 1 0;
}

hr {
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.05);
    margin: 10px 0;
}

.btn {
    background-color: var(--white-500);
    color: var(--grey-300);
    padding: 15px 20px;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    font-size: 0.875rem;
}
.btn.btn-primary {
    background-color: var(--primary);
    color: #fff;
}
.img-circle {
    border-radius: 100%;
}
.img-rounded {
    border-radius: 6px;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

.notify {
    background-color: var(--white-600);
    padding: 20px;
    border-radius: 6px;
    color: var(--grey-500)
}
.d-none {
    display: none;
}
.flex-grow-1 {
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .md\:d-block {
        display: block;
    }
    .md\:wp-100 {
        width: 100%;
    }
    .md\:d-flex {
        display: flex;
    }
    .md\:d-none {
        display: none;
    }
    .md\:mt-2 {
        margin-top: 0.5em;
    }
    .md\:w-full {
        width: 100%;
    }
    .md\:justify-content-between {
        justify-content: space-between;
    }
    .md\:flex-column {
        flex-direction: column;
    }
    .md\:ml-0{
        margin-left: 0;
    }
    .wp-md-100 {
        width: 100%;
    }

    .mt-md-2 {
        margin-top: 1.25em;
    }
    .mt\:mb-2 {
        margin-top: 1.25em;
    }

    .ml-md-0 {
        margin-left: 0;
    }
}